<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/userbase::layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>This is home page</title>
</head>

<body>
	<section>
		<div class="container">
    <div class="row">
      <div class="col-md-10 ml-3">
        <h1 class="pt-3 ps-3">Welcome, username!!</h1>

        <!-- All contact and my favourite -->
        <!--<div class="container custom-container">
          <div class="row g-2 mt-2">
            <div class="col-3 ">
              <div class="p-3 card border-0 bg-primary">All Contacts</div>
            </div>
            <div class="col-3 ">
              <div class="p-3 card border-0 bg-primary">My Favourite</div>
            </div>
          </div>
        </div>-->

        <!-- Categories -->
        <h4 class="pt-3 ps-3">Categories</h4>
        <div class="container custom-container ">
          <div class="row g-2 border-0">
            <div class="col-2 ">
              <div class="p-3 border-0 card  bg-primary custom-card">Friends</div>
            </div>
            <div class="col-2 ">
              <div class="p-3 card border bg-primary custom-card">Family</div>
            </div>
            <div class="col-2 ">
              <div class="p-3 card border bg-primary custom-card">Important</div>
            </div>
            <div class="col-2 ">
              <div class="p-3 card border bg-primary custom-card">Work</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
		
	</section>
	<!-- Bootstrap JS and Popper.js -->

</body>

</html>