<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>This is home page</title>
</head>

<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-6 offset-md-3 mt-2">
					<div class="my-card">

						<!-- alert message -->
						<div th:if="${session.message}" th:classappend="${session.message.type}" class="alert"
							role="alert">
							<p class="text-center" th:text="${session.message.content}"></p>
							<th:block th:text="${#session.removeAttribute('message')}"></th:block>
						</div>

						<div class="container text-center">
							<img src="" style="width: 20%; height: 20%;" th:src="@{/image/phone.png}" />
						</div>
						<h1 class="text-center mt-4">SignUp</h1>
						<form novalidate action="" th:action="@{/registerUser}" method="post" th:object="${user}">

							<!-- name field -->
							<div class="form-group">
								<label for="name_field">Your Name</label>
								<input name="name" type="text" class="form-control"
									th:classappend="${#fields.hasErrors('name')?'is-invalid': '' }" id="name_field"
									placeholder="Enter here" th:value="${user.name}" required />
								<div th:each="e : ${#fields.errors('name')}" th:text="${e}" class="invalid-feedback">
								</div>
							</div>

							<!-- email field -->
							<div class="form-group">
								<label for="email_field">Your Email</label>
								<input name="email" type="email" class="form-control" id="email_field"
									placeholder="abc@gmail.com" th:value="${user.email}" required />
							</div>

							<!-- password field -->
							<div class="form-group">
								<label for="password_field">Your Password</label>
								<input name="password" type="password" class="form-control" id="password_field"
									placeholder="Enter here" required />
							</div>

							<!-- about field -->
							<div class="form-group">
								<label for="about_field">About Yourself</label>
								<textarea name="about" placeholder="Enter something about yourself" rows="5"
									th:text="${user.about}" th:value="${user.about}" class="form-control"></textarea>
							</div>

							<!--terms and condition agreement-->
							<div class="form-group form-check text-center">
								<input type="checkbox" name="agreement" class="form-check-input" id="agreement" />
								<label for="agreement">Accept term and conditions</label>
							</div>

							<!--button-->
							<div class="container text-center">
								<button type="submit" class="btn bg-primary text-white btn-lg">
									Submit
								</button>

								<button type="reset" class="btn bg-primary text-white btn-lg">
									Reset
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>

</html>